@font-face {
  font-family: "Kadwa";
  src: url("../fonts/Kadwa-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-montserrat text-white;
  }
}

.scroll-lock {
  overflow: hidden;
}

.main-title {
  text-shadow: 0 12px 16px rgba(0, 0, 0, 0.75);
}

.title-spin-amount {
  background: linear-gradient(180deg, #30ff7e 0%, #00c84c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-background-gradient {
  width: 100%;
  /* adjust as needed */
  background: linear-gradient(-45deg, #FFF67D, #E2B52E, #FFF67D);
  background-size: 400% 400%;
  animation: gradientShift 5s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-button {
  cursor: pointer;
  background: linear-gradient(270deg, #FF302E, #9E0134);
  background-size: 300% 300%;
  animation: btnAnimation 2s ease infinite;
  transition: transform 0.2s ease;
}

@keyframes btnAnimation {
  0% {
    background-position: 0% 50%;
    transform: scale(1);
  }

  50% {
    background-position: 100% 50%;
    transform: scale(1.05)
  }

  100% {
    background-position: 0% 50%;
    transform: scale(1)
  }
}

.blurred {
  filter: blur(5px);
  transition: 0.2s;
}

.pulsating-circle {
  width: 14px;
  height: 14px;
  background-color: #50FF8B;
  border-radius: 50%;
  animation: pulse 1.5s infinite ease-in-out;
  box-shadow: 0 0 0 rgba(80, 255, 139, 0.7);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(80, 255, 139, 0.7);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(80, 255, 139, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(80, 255, 139, 0);
  }
}

/* | TWO STEP FORM */

.two-step-overlay {
  display: none;
}

.two-step-overlay.is-open {
  display: flex;
}

.two-step-overlay.modal-overlay.is-open {
  display: grid;
  place-items: center;
  justify-content: center;
}

.two-step-bonus-checkbox-circle::before,
.gender-checkbox-circle::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f0f0f0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.two-step-bonus-checkbox input:checked+.two-step-bonus-checkbox-div>.two-step-bonus-checkbox-circle::before,
.gender-checkbox input:checked+.gender-checkbox-div>.gender-checkbox-circle::before {
  opacity: 1;
}

.two-step-bonus-checkbox input:checked+.two-step-bonus-checkbox-div,
.gender-checkbox input:checked+.gender-checkbox-div {
  background-color: #8726ff;
  border-color: #57179b;
}

.two-step-header-back-btn.is-visible {
  opacity: 1;
  visibility: visible;
}

.socials-link-big {
  box-shadow: inset 0 2px 3px 0 rgba(255, 255, 255, 0.25);
}

.two-step-general-input:focus+.two-step-general-label,
.two-step-general-label.active {
  top: 12px;
  font-size: 12px;
}

.two-step-promocode-wrapper.is-valid .two-step-promocode-valid-icon {
  fill: #4ED937;
}

.two-step-input-wrapper.is-valid .two-step-general-input {
  color: #4ED937;
}

.two-step-promocode-wrapper.is-visible {
  display: grid;
}


.two-step-form-step {
  display: none;
}

.two-step-form-step.is-active {
  display: block;
}

.two-step-progress-circle.active {
  background-color: #8726FF;
}

.next-step-btn,
.submit-btn {
  position: relative;
  overflow: hidden;
}

.next-step-btn .disable-overlap,
.submit-btn .disable-overlap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(59, 58, 58, 0.6);
  transition: 0.3s;
}

.next-step-btn:disabled .disable-overlap.is-visible,
.submit-btn:disabled .disable-overlap.is-visible {
  display: block;
}

.qs-num.qs-current,
.qs-day {
  color: #755EEB !important;
}

.qs-controls {
  background-color: #755EEB !important;
}

.qs-month-year {
  color: #ffffff !important;
}

.qs-arrow.qs-left:after {
  border-right-color: #ffffff !important;
}

.qs-arrow.qs-right:after {
  border-left-color: #ffffff !important;
}

.form-currency-dropdown {
  max-height: 225px;
  overflow-y: auto;
}

.two-step-form .iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.two-step-form .iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.two-step-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.two-step-form .iti__country-list {
  border: none !important;
}

.two-step-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.two-step-form .iti__tel-input {
  padding-left: 100px !important;
}

.two-step-form .iti__selected-country-primary {
  height: auto !important;
}

.two-step-form .iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.two-step-form .iti__country-list li span {
  color: #0f0f0f;
}

.two-step-form .iti__dropdown-content {
  top: 120%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.two-step-form .iti__dial-code {
  color: #755eeb !important;
}

.two-step-form .iti__selected-dial-code {
  color: #755eeb !important;
}

.two-step-form .iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

@keyframes animate-svg-draw-1 {
  0% {
    stroke-dashoffset: 277;
    stroke-dasharray: 277;
  }

  100% {
    stroke-dashoffset: 227;
    stroke-dasharray: 554;
  }

  0% {
    stroke-dashoffset: 554;
    stroke-dasharray: 277;
  }
}

.svg-elem-1 {
  animation: animate-svg-draw-1 2s ease 0s infinite;
  stroke: #ffb600;
  stroke-width: 6;
  fill: none;

  stroke-linecap: round;
  stroke-linejoin: rectangle;
}

.svg-elem-2 {
  animation: pulse 3s ease 1s infinite;
  transform-origin: center;
  fill: black;
}

.svg-elem-3 {
  animation: pulse 3s ease 1s infinite;
  transform-origin: center;
  fill: #f0f0f0;
}

.two-step-promocode-wrapper.is-valid .two-step-promocode-apply-btn {
  display: none;
}

.two-step-promocode-wrapper.is-not-valid .two-step-promocode-apply-btn {
  display: block;
}

.two-step-promocode-wrapper.is-valid .two-step-promocode-valid-icon {
  display: block;
}

.two-step-promocode-wrapper.is-not-valid .two-step-promocode-valid-icon {
  display: none;
}

.two-step-promocode-wrapper.is-valid input {
  color: #4ED937;
}

.two-step-promocode-wrapper.is-not-valid input {
  color: #FF5530;
}

.air-datepicker-global-container {
  z-index: 500;
}

.two-step-required-label::before {
  content: '*';
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  right: -10px;
  top: -3px;
}

/* Promocode badge */

.promocode-applied-badge {
  display: none;
}

.promocode-applied-wrapper.is-applied .promocode-applied-badge {
  display: block;
}

.promocode-applied-wrapper.is-applied .applied-bonus-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #4ED937;
}

.promocode-applied-wrapper.is-applied .two-step-promocode-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #4ED937;
}

.promocode-applied-badge-text {
  display: none;
}

.promocode-applied-badge-text.is-active {
  display: block;
}

/* | URL PROMOCODE CHECK */

.promocode-applied-wrapper.is-applied-from-url {
  pointer-events: none;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-btn {
  display: none;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-input {
  color: #4ED937;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-label {
  font-size: 12px;
  top: 12px;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-apply-btn {
  display: none;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-valid-icon {
  display: block;
}

.promocode-applied-wrapper.is-applied-from-url .two-step-promocode-wrapper {
  display: flex;
}

/* | Language dropdown */

.header-lang-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: all 0.3s;
}

.header-lang-list.is-open {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s;
}

/* | SOCIALS FORM STYLES */

.socials-form .iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.socials-form .iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.socials-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.socials-form .iti__country-list {
  border: none !important;
}

.socials-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.socials-form .iti__tel-input {
  padding-left: 100px !important;
}

.socials-form .iti__selected-country-primary {
  height: auto !important;
}

.socials-form .iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.socials-form .iti__country-list li span {
  color: #0f0f0f;
}

.socials-form .iti__dropdown-content {
  top: 110%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.socials-form .iti__dial-code {
  color: #755eeb !important;
}

.socials-form .iti__selected-dial-code {
  color: #755eeb !important;
}

.socials-form .iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

.socials-form .iti__selected-country {
  height: 22px !important;
}

.socials-form-type-btn::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fad303;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.socials-form-type-btn.active::before {
  opacity: 1;
}

.socials-form-type-btn.active span {
  color: #fad303;
}

.socials-form-type-btn.active svg {
  stroke: #fad303;
}

.socials-form-group-email label {
  transition: 0.3s;
}

/* .form-group-email input:focus, */
.socials-form-group-email input:focus+label,
.socials-form-group-email input:not(:placeholder-shown)+label {
  font-size: 12px;
  transform: translateY(-14px);
}

.form-step-btn:disabled {
  background: #8a8e37;
}

.socials-form-group {
  display: none;
}

.socials-form-group.active {
  display: flex;
}

.socials-form-group {
  border: 2px solid transparent;
}

.socials-form-group.not-valid {
  border: 2px solid #ff5530;
}

.socials-form-group.not-valid input {
  color: #ff5530;
}

.socials-form-group.not-valid .tooltip {
  display: block;
}

.socials-form-group-password {
  border: 2px solid transparent;
}

.socials-form-group-password.not-valid {
  border: 2px solid #ff5530;
}

.socials-form-group-password.not-valid input {
  color: #ff5530;
}

.socials-form-group-password.not-valid .tooltip {
  display: block;
}

.socials-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755eeb;
}

.socials-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755eeb;
}

.socials-form input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
  -webkit-text-fill-color: #755eeb;
}

.checkbox .checkbox-content::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox .checkbox-input:checked+.checkbox-content::before {
  background: url("../img/checked.svg") #f4fd2b;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form.loading .main-form-submit-btn span {
  display: none;
}

.form.loading .main-form-submit-btn .loading-icon {
  display: block;
}

.form.loading .form-group-password {
  pointer-events: none;
  opacity: 0.6;
}

.form.loading .form-currency {
  pointer-events: none;
  opacity: 0.6;
}

.terms-modal.is-open {
  display: grid;
}

.scroll-lock {
  overflow: hidden;
}

.applied-nodep-bonus {
  position: relative;
}

.applied-nodep-bonus::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

/* States dropdown */

.two-step-state-list-item {
  border-bottom: 1px solid #755EEB30;
  padding: 16px 12px;
}